section.celebrate#celebrate
  img(src="./img/bg-elem-2.svg", alt="").celebrate__bg-elem
  img(src="./img/bg-elem-4.svg", alt="").celebrate__bg-elem-2
  .container
    .celebrate__title-block.title-block
      h2 Привезем звезду на любой праздник
      p.title-block__desc От дня рождения до городского фестиваля
    .celebrate__items.js-celebrate-items
      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-1.jpg", alt="").celebrate-item__img
          p.celebrate-item__title День Рождения
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-2.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Свадьба
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-3.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Корпоратив
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-4.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Юбилей
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-5.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Рекламная акция
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-6.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Городской праздник
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-7.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Фестиваль
          button.celebrate-item__btn Выбрать
      //- Item

      //- Item
      .col-xl-3.col-lg-3.col-md-4
        .celebrate-item
          img(src="./img/celeb-8.jpg", alt="").celebrate-item__img
          p.celebrate-item__title Кассовый концерт
          button.celebrate-item__btn Выбрать
      //- Item




