footer.footer
  .container
    .footer__content
      .footer__desc
        a(href="").footer__logo
          img(src="./img/star-logo.png", alt="")
          p.footer__logo-text STAR#[span ON]PARTY
        p.footer__text Организация мероприятий с участием звезд эстрады
      .footer__block
        ul.footer__list
          li.footer__item
            a(href="").footer__link.js-link(data-link="main") Главная
          li.footer__item
            a(href="").footer__link.js-link(data-link="feedback") Отзывы
          li.footer__item
            a(href="").footer__link.js-link(data-link="top") ТОП артистов
        ul.footer__list
          li.footer__item
            a(href="").footer__link.js-link(data-link="celebrate") Главная
          li.footer__item
            a(href="").footer__link.js-link(data-link="service") Отзывы
          li.footer__item
            a(href="").footer__link.js-link(data-link="gallery") ТОП артистов
      .footer__block2
        a(href="").topMenu__mail.footer__mail.topMenu__mail_white
          i.fa.fa-phone(aria-hidden="true")
          span 8 800 451 52 51
        a(href="").topMenu__mail.footer__mail
          i.fa.fa-envelope(aria-hidden="true")
          span info@allstars.ru
        a(href="").footer__policy Политика конфеденциальности



          


