section.gallery#gallery
  img(src="./img/bg-elem-2.svg", alt="").gallery__bg-elem-1
  //- img(src="./img/bg-elem-3-1.png", alt="").top__bg-elem-2
  .container
    .gallery__title-block.title-block
      h2 Медиагалерея наших мероприятий
      p.title-block__desc Живые фото и видео со звездами нашей организации
    .row.gallery-hide
      .col-xl-4.col-lg-4.col-md-6
        .gallery-item-wrapper
          //- Item
          .gallery-item
            img(src="./img/gallery-1.jpg", alt="").gallery-item__img
            .gallery-item__label
              p.gallery-item__name Дима Билан
              p.gallery-item__place Корпоратив Лукойл
            a(href="").gallery-item__icon 
              img(src="./img/photo.png", alt="")
          //- Item

          //- Item
          .gallery-item
            img(src="./img/gallery-2.jpg", alt="").gallery-item__img
            .gallery-item__label
              p.gallery-item__name Иван Угрант
              p.gallery-item__place День Рождения Маслякова
            a(href="").gallery-item__icon 
              img(src="./img/video.png", alt="")
          //- Item

      .col-xl-4.col-lg-4.col-md-6
        //- Item
        .gallery-item
          img(src="./img/gallery-3.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Полина Гагарина
            p.gallery-item__place Открытие магазина H&M
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item

      .col-xl-4.col-lg-4.col-md-6
        //- Item
        .gallery-item
          img(src="./img/gallery-1.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Дима Билан
            p.gallery-item__place Корпоратив Лукойл
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item

        //- Item
        .gallery-item
          img(src="./img/gallery-2.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Иван Угрант
            p.gallery-item__place День Рождения Маслякова
          a(href="").gallery-item__icon 
            img(src="./img/video.png", alt="")
        //- Item

        
      .col-xl-8.col-lg-8.order-md-10
        //- Item
        .gallery-item
          img(src="./img/gallery-4.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Стас Михайлов
            p.gallery-item__place Концерт в Олимписком
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item

        
      .col-xl-4.col-lg-4.col-md-6
        //- Item
        .gallery-item
          img(src="./img/gallery-5.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Сергей Шнуров
            p.gallery-item__place Корпоратив Мегафон
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item

        



    .js-gallery-slider
      .gallery-item-wrapper.swiper-wrapper
        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-1.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Дима Билан
            p.gallery-item__place Корпоратив Лукойл
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item
        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-2.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Иван Угрант
            p.gallery-item__place День Рождения Маслякова
          a(href="").gallery-item__icon 
            img(src="./img/video.png", alt="")
        //- Item
        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-3.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Полина Гагарина
            p.gallery-item__place Открытие магазина H&M
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item
        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-1.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Дима Билан
            p.gallery-item__place Корпоратив Лукойл
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item
        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-2.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Иван Угрант
            p.gallery-item__place День Рождения Маслякова
          a(href="").gallery-item__icon 
            img(src="./img/video.png", alt="")
        //- Item

        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-4.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Стас Михайлов
            p.gallery-item__place Концерт в Олимписком
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item

        //- Item
        .gallery-item.swiper-slide
          img(src="./img/gallery-5.jpg", alt="").gallery-item__img
          .gallery-item__label
            p.gallery-item__name Сергей Шнуров
            p.gallery-item__place Корпоратив Мегафон
          a(href="").gallery-item__icon 
            img(src="./img/photo.png", alt="")
        //- Item


      .gallery-scrollbar    

    .socials.gallery__socials
      p.socials__here Больше фото и видео здесь
      .socials__links
        a(href="").socials__item
          img(src="./img/social-1.svg", alt="")
        a(href="").socials__item
          img(src="./img/social-2.svg", alt="")
        a(href="").socials__item
          img(src="./img/social-3.svg", alt="")
        a(href="").socials__item
          img(src="./img/social-4.svg", alt="")

    .row.justify-content-center
      .col-xl-8
        .gallery__apply.apply
          .apply__title-block.title-block
            h2 Мы сделаем ваш праздник звездным
            p.title-block__desc Заполните простую заявку или запросите прайс-лист артистов. Мы подберем артиста и организуем все под ключ
          .apply__btns
            button.btn.btn-violet.apply__btn.js-popup-show
              img.btn__icon(src="./img/star.svg", alt="")
              span Пригласить звезду
            button.btn.apply__list.apply__btn
              img.btn__icon(src="./img/list.svg", alt="")
              span прайс-лист



