header.header
  .container  
    .row.justify-content-md-center
      .col-xl-8.col-lg-8
        .title.header__title
          h1.title__main Пригласить звезду эстрады в любую точку мира
          p.title__text Организация под ключ. Прямой договор с артистом и агентсткое сопровождение
          .title__btns
            button.btn.btn-violet
              img(src="./img/star.svg", alt="").btn__icon
              span Пригласить звезду
            button.btn.btn-transparent
              img(src="./img/list.svg", alt="").btn__icon
              span прайс-лист
      .col-xl-4.col-lg-4.col-md-6
        .swiper-container
          .slider.swiper-wrapper
            .slide.swiper-slide
              img(src="./img/slide-1.jpg", alt="").slide__img
              .slide__text 
                p.slide__name Полина Гагарина
                p.slide__price $12 300 / концерт
            .slide.swiper-slide
              img(src="./img/slide-1.jpg", alt="").slide__img
              .slide__text 
                p.slide__name Полина Гагарина
                p.slide__price $12 300 / концерт
            .slide.swiper-slide
              img(src="./img/slide-1.jpg", alt="").slide__img
              .slide__text 
                p.slide__name Полина Гагарина
                p.slide__price $12 300 / концерт
        .slider__btns
          .swiper-button-prev.slider__btn.slider__btn_prev
            img(src="./img/next.png", alt="")
          .swiper-button-next.slider__btn
            img(src="./img/next.png", alt="")
      .col-xl-12
        .swiper-scrollbar
      .col-xl-12
        .title__btns.title__btns_mobile
          button.btn.btn-violet
            img(src="./img/star.svg", alt="").btn__icon
            span Пригласить звезду
          button.btn.btn-transparent
            img(src="./img/list.svg", alt="").btn__icon
            span прайс-лист
