.popup__wrapper.js-popup
  .popup__body.js-popup-body
    form(action="").popup__form
      p.popup__title Заполните форму
      p.popup__text Мы свяжемся с Вами ближайшее время
      input.popup__input(type="text", placeholder="Ваше имя")
      input.popup__input(type="text", placeholder="Ваш телефон")
      button.btn.btn-violet.popup__btn
        img(src="./img/star.svg", alt="").btn__icon
        span Пригласить звезду