section.service#service
  img(src="./img/snake.svg", alt="").service__snake
  .container
    .service__title-block.title-block
      h2 Всю организацию выступления звезды берем на себя
      p.title-block__desc Соблюдаем райдер артиста предотвращаем форс-мажоры

    //- Item
    .row.align-items-center
      .col-xl-6.col-lg-6.col-md-6.d-sm-flex.align-items-sm-center.justify-content-sm-center.d-flex.align-items-center.justify-content-center
        .service__img.image-2
          img(src="./img/service-1.jpg", alt="").image-2__img
          .image-2__circle
      .col-xl-6.col-lg-6.col-md-6
        .service__text-block.title-block
          h3 Российские и мировые звезды
          p.title-block__desc Мы можем организовать выступление любого артиста из России или из другой страны. За 15 лет работы у нас наработана база более чем 300 музыкальных исполнителей. Ежедневно мы ведем работу по подключению новых звезд.
      //- Item

    //- Item
    .row.align-items-center
      .col-xl-6.col-lg-6.col-md-6.order-sm-3.order-3.order-lg-0.order-xl-0
        .service__text-block.title-block
          h3 Организация под ключ
          p.title-block__desc Мы организуем мероприятие под ключ, обеспечим соблюдение требований райдера артиста, привезем все необходимое оборудование, трансфер и проживание звезды эстрады. Все риски берем на себя.
      .col-xl-6.col-lg-6.col-md-6.d-sm-flex.align-items-sm-center.justify-content-sm-center.d-flex.align-items-center.justify-content-center
        .service__img.image-2
          img(src="./img/service-2.jpg", alt="").image-2__img
          .image-2__circle.image-2__circle_top
    //- Item


    //- Item
    .row.align-items-center
      .col-xl-6.col-lg-6.col-md-6.d-sm-flex.align-items-sm-center.justify-content-sm-center.d-flex.align-items-center.justify-content-center
        .service__img.image-2
          img(src="./img/service-3.jpg", alt="").image-2__img
          .image-2__circle
      .col-xl-6.col-lg-6.col-md-6
        .service__text-block.title-block
          h3 Прямой договор с артистом. Cопровождение
          p.title-block__desc Работаем без комиссий. Вы заключаете прямой договор с исполнителем. Большинство агентств делает накрутки, из-за того что клиент не знает реальных цен. Мы зарабатываем только на организации мероприятия. Все прозрачно.
          button.btn.btn-violet.service__btn.js-popup-show
            img.btn__icon(src="./img/star.svg", alt="")
            span Пригласить звезду
    //- Item