section.top
  img(src="./img/bg-elem-1.svg", alt="").top__bg-elem
  img(src="./img/bg-elem-3-1.png", alt="").top__bg-elem-2
  .container
    .row
      .col-xl-5.col-lg-6
        .top__title-block.title-block
          h2 ТОП звезд за октябрь 19
          p.title-block__desc Самые желанные артисты на базе нашей статистики заказов
      .col-xl-4.offset-xl-1.d-flex.align-items-end.col-lg-3.order-md-4.justify-content-md-center.order-sm-4.order-4.order-lg-0.order-xl-0.justify-content-sm-center.justify-content-center
        .top-slider-pagination
      .col-xl-2.d-flex.align-items-center.col-lg-3.justify-content-end.order-md-3.justify-content-md-center.order-sm-3.order-3.order-lg-0.order-xl-0.justify-content-sm-center.justify-content-center.justify-content-xl-end
        .top-slider-arrows
          .top-slider-prev
            img(src="./img/arrow.svg", alt="")
          .top-slider-next
            img(src="./img/arrow.svg", alt="")
      .col-xl-12
        .top-stars-slider
          .swiper-wrapper
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-2.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Джиган
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-3.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Eminem
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
            .top-stars-slide.swiper-slide
              img(src="./img/top-1.png", alt="").top-stars-slide__img
              .top-stars-slide__circle
                .top-stars-slide__label
                  span.top-stars-slide__name Егор Крид
                  img(src="./img/info.svg", alt="")
