section.feedback
  .container
    .video
      .feedback__slide
        .feedback__wrapper
          .image
            img(src="./img/slide-1-feedback.jpg", alt="").image__img.video__img
            .image__element.video__image__element
            .play-btn-2
              img(src="./img/play-1.png", alt="")
          .slide-text.video-text
            p.slide-text__title За 15 лет организовали более 400 мероприятий
            p.slide-text__text.video__par Посмотрите отзывы звезд и наших клиентов за 1,5 минуты
            button.btn.btn-violet.btn-play
              img(src="./img/play-2.svg", alt="").btn__icon
              span Смотреть

        