section.topMenu
  a(href="").topMenu__logo
    img(src="./img/logo.png", alt="")
  ul.topMenu__links
    li.topMenu__item
      a(href="").topMenu__link Главная
    li.topMenu__item
      a(href="").topMenu__link Отзывы
    li.topMenu__item
      a(href="").topMenu__link ТОП артистов
    li.topMenu__item
      a(href="").topMenu__link Мероприятия
    li.topMenu__item
      a(href="").topMenu__link Гарантии
    li.topMenu__item
      a(href="").topMenu__link Галерея
  .topMenu__right
    a(href="").topMenu__mail
      i.fa.fa-envelope(aria-hidden="true")
      span info@allstars.ru
    a(href="").topMenu__mail.topMenu__mail_white
      i.fa.fa-phone(aria-hidden="true")
      span 8 800 451 52 51