section.topMenu-mobile.js-topMenu.js-topMenu-mobile
  .topMenu-mobile__content
    a(href="").topMenu-mobile__logo
      img(src="./img/logo.png", alt="")
    i.fa.fa-bars.topMenu-mobile__icon(aria-hidden="true").js-burger
    .topMenu-mobile__drop.js-topMenu-mobile-drop
      .topMenu-mobile__links
        a(href="").topMenu-mobile__link Главная
        a(href="").topMenu-mobile__link Отзывы
        a(href="").topMenu-mobile__link ТОП артистов
        a(href="").topMenu-mobile__link Мероприятия
        a(href="").topMenu-mobile__link Гарантии
        a(href="").topMenu-mobile__link Галерея
      .topMenu-mobile__contact
        a(href="").topMenu__mail.topMenu-mobile__mail
          i.fa.fa-envelope(aria-hidden="true")
          span info@allstars.ru
        a(href="").topMenu__mail.topMenu__mail_white.topMenu-mobile__mail
          i.fa.fa-phone(aria-hidden="true")
          span 8 800 451 52 51